:root {
    --text-font:nunito;
    --primary-bg-color: #efefef;
}

.content-container{
    background-color: var(--primary-bg-color);
    font-family: var(--text-font);
    width: auto;
    min-height: 100vh;
}

.edit-content{
        background-color: #fff;
        width: 90%;
        min-height: 60vh;
        border: 1px solid #ddd; 
        border-radius: 8px; 
        position: relative;
        left: 4rem;
        padding: 1rem; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    
}
.custom-form{
    background-color: #eee7e746;
    border: 3px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;

}
.Custom-button{
    background-color:#f84e02 ;
    border: 3px;
    border-radius: 32px;
}

.custom-button-font{
    color: white;

}


.custom-button-font:hover{
    color:#f84e02 ;
}

.register-page{
    position: relative;
    left:7rem;

    min-height: 50vh;
    margin-top: 6rem;
    font-family: var(--text-font);
}
.custom-color{
    color:#f84e02
}

